.btn {
  font-family: "M-bold";
  font-size: 2rem; //1.7
  cursor: pointer;
  outline: none;
  font-weight: 700;
  width: fit-content;
  height: fit-content;
  padding: 1rem 7rem;
  color: $blue-color;
  border: 1px solid $blue-color;
  border-radius: 40px;
  background-color: white;
  transition: background-color 0.2s;

  &:hover {
    background-color: $blue-color;
    color: white;
  }

  &:disabled {
    cursor: not-allowed;
    color: #cccccc;
    border: 1px solid #cccccc;

    &:hover {
      background-color: white;
      color: #cccccc;
      border: 1px solid #cccccc;
    }
  }
}

.bg-transparent {
  border: 2px solid $blue-color;
  background-color: transparent;
  color: white;
  padding: 1.6rem 10rem;
  font-family: "M-semibold";
}

.bg-blue {
  background-color: $blue-color;
  color: white;
  padding: 1.6rem 8rem;
  transition: background-color 0.2s;

  &:hover {
    background-color: transparent;
    color: $blue-color;
    border: 1px solid $blue-color;
  }
}

.btn__english {
  border-radius: 0 40px 40px 0;
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  left: 0;
  font-family: "M-bold";
  font-size: 1.5rem;
  width: fit-content;
  height: fit-content;
  padding: 20px 20px 20px 15px;
  color: black;
  background-color: $green-color;
  transition: all 0.2s;
  z-index: 1000;

  &:hover {
    color: white;
    background-color: $blue-color;
  }
}

.btn__navigation {
  z-index: 1000;
  display: none;
  cursor: pointer;
  position: fixed;
  top: 30px;
  right: 10px;
  height: 40px;
  width: 40px;

  @media only screen and (max-width: 768px) {
    display: block;
  }

  &__icon {
    cursor: pointer;
    position: relative;

    &,
    &::after,
    &::before {
      cursor: pointer;
      width: 40px;
      height: 4px;
      background-color: $green-color;
      display: inline-block;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      right: 0;
      transition: all 0.2s;
    }

    &::after {
      top: 10px;
    }
    &::before {
      top: -10px;
    }

    &__clicked {
      background-color: transparent;

      &::before {
        top: 0;
        transform: rotate(135deg);
      }

      &::after {
        top: 0;
        transform: rotate(-135deg);
      }
    }
  }
}
