.favoriteItem {
  transform: translateY(18%);
  align-self: flex-end;
}

.heart {
  animation-name: latido;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes latido {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
