.List {
  background-image: url("/assets/Backgrounds/Bg_Header@3x.png");
  background-size: contain;
  text-align: center;
  font-family: "M-bold";

  @media only screen and (max-width: 768px) {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  @media only screen and (max-width: 768px) {
    background-image: url("/assets/Backgrounds/Bg_Header@2x.png");
  }
  @media only screen and (max-width: 600px) {
    background-image: url("/assets/Backgrounds/Bg_Header.png");
  }

  &__header {
    padding: 0 20px;
    &--filters {
      display: flex;
    }

    &--navbar {
      padding-right: 80px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      @media only screen and (max-width: 768px) {
        padding-right: 0px;
        justify-content: center;
        grid-row: 1/2;
        margin-top: 30px;
      }

      &-favoritas {
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &-logo {
        justify-self: flex-end;
        margin-left: 40px;
      }
    }

    &--search {
      display: flex;
      justify-content: center;
      align-items: center;

      &--favs {
        display: flex;

        @media only screen and (max-width: 768px) {
          position: fixed;
          top: 20px;
          left: 20px;
        }
      }

      @media only screen and (max-width: 768px) {
        flex-direction: column;
      }

      &--icon {
        animation-name: latido;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
      }
    }
  }

  &__techs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__footer {
    user-select: none;
    color: lightgray;
    font-family: "M-bold";
    font-size: 30px;
    width: 100%;
    text-align: center;

    @media only screen and (max-width: 768px) {
      font-size: 20px;
    }
  }

  &__searchBox {
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    font-family: "M-regular";
    font-size: 15px;
    border: 1px solid rgb(184, 179, 180);
    border-radius: 5px;
    color: #999;
    height: 40px;
    width: 40%;
    text-align: center;

    @media only screen and (max-width: 768px) {
      margin-top: 50px;
      width: 70%;
      margin-right: 0;
    }

    @media only screen and (max-width: 600px) {
      width: 90%;
    }

    &:focus {
      outline: none;
      outline-width: 0;
    }
  }
}

@keyframes latido {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
