.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  font-family: "MiFuente-header-nav-2";
  align-self: center;
  height: fit-content;
  padding: 50px 8%;
  padding-right: 6%;
  padding-bottom: 20px;
  width: 100%;
  @media only screen and (max-width: 768px) {
    display: none;
  }

  &--list {
    display: flex;
    align-items: baseline;
  }

  &--item {
    width: fit-content;
    padding: 0 25px;
    font-size: 2rem;

    &:hover {
      cursor: pointer;
      color: $green-color;
    }
  }
}

a,
a:active,
a:visited {
  color: black;
  text-decoration: none;
}
